## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [27]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(445) 345-6821'),
    ('432 Sound Ave', 'Mike', '(434) 345-6434', 'Wazowski')
]

# Input -> name - str.
# Output -> name, phone number - str.
# See if name matches items in each tuple
# If name is in any tuple:
    # Return phone number in that specific tuple
# If name is not in any tuple:
    # Return -1

def get_phone_number(name):
    for tup in address_book:
        if name in tup:
            return tup[2:4]
    else:
        return -1

print(get_phone_number('Robby'))

('', '(445) 345-6821')

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [29]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '1000 Rodeo Drive'
}

print(d3)
print(type(d3))

d4 = dict(test='abc', name='Jeremy')
print(d4)
print(type(d4))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '1000 Rodeo Drive'}

In [30]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

##### Accessing Values

In [32]:
# Accessing values in a list is by index position
characters = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(characters[1])

Peter

In [33]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

In [34]:
# dict[key]
print(d3['Tevin'])

1000 Rodeo Drive

In [35]:
print(d3['Sydney'])

555 Santa Monica Blvd

In [ ]:
# Shouldn't work since Brian is not a key in dictionary
print(d3['Brian'])

##### .get()

In [36]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [37]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))
print(d3.get('Tevin', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [41]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck['year']} {truck['make']} {truck['model']}.")

My favorite car is a 2018 Chevrolet Silverado.

##### Adding New Pairs

In [42]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

In [43]:
# dict[key] = value
d3['Zooey'] = '345 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive',
 'Zooey': '345 Main Street'}

##### Modifying Values

In [46]:
# dict[key] = value
d3['Zooey'] = '765 Second Ave'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive',
 'Zooey': '765 Second Ave'}

##### Removing Key, Value Pairs

In [48]:
# del dict[key]
del d3['Tevin']

KeyError: 'Tevin'

In [49]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '765 Second Ave'}

In [50]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [ ]:
# dict.pop('key') - remove key,value pair - returns value back to caller

In [52]:
removed_val = d3.pop('Zooey')
print(removed_val)
print(d3)

KeyError: 'Zooey'

In [53]:
removed_val = d3.pop('Zooey', 'Not in Dictionary')
print(removed_val)
print(d3)

Not in Dictionary
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [54]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [56]:
# .items()
print(d3)
print(d3.items())

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}
dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])

In [57]:
for item in d3.items():
    print(item)

('Hank', '123 Real Street')
('Peter', '321 Fake Street')
('Sydney', '555 Santa Monica Blvd')

In [58]:
for name, address in d3.items():
    print(f"Key: {name} - Value: {address}")

Key: Hank - Value: 123 Real Street
Key: Peter - Value: 321 Fake Street
Key: Sydney - Value: 555 Santa Monica Blvd

##### Looping Only Keys

In [59]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd'}

In [60]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Peter', 'Sydney'])

In [61]:
for key in d3.keys():
    print(key)

Hank
Peter
Sydney

In [63]:
for k in d3:
    print(k)

Hank
Peter
Sydney

In [65]:
for key in d3:
    print(key, d3[key])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd

##### Looping Only Values

In [66]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [67]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd'])

In [68]:
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [96]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

def p_desc(people):
    for name, color in people.items():
        print(f"{name} has {color} eyes.")

p_desc(people)

Max has blue eyes.
Lilly has brown eyes.
Barney has blue eyes.
Larney has brown eyes.
Ted has purple eyes.

##### List with Dictionaries

In [97]:
my_list = [1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}]

In [99]:
print(my_list[5], type(my_list[5]))
print(my_list[5]['b'])

{'a': 123, 'b': 456} <class 'dict'>
456

##### List of Dictionaries

In [102]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fischer', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'director': 'Bong Joon Ho', 'release_year': 2019, 'title': 'Parasite'}
]

print(movies)
print(type(movies))

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fischer', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'director': 'Bong Joon Ho', 'release_year': 2019, 'title': 'Parasite'}]
<class 'list'>

In [103]:
for m in movies:
    print(f"Title: {m.get('title')} - Directed by: {m.get('director')} - {m.get('release_year')}")

Title: Inception - Directed by: Christopher Nolan - 2010
Title: The Social Network - Directed by: David Fischer - 2010
Title: The Departed - Directed by: Martin Scorsese - 2006
Title: Parasite - Directed by: Bong Joon Ho - 2019

##### Dictionaries with Lists

In [106]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [10, 20, 30],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # This is NOT index-0, this is accessing key 0
print(random_data['list1'][0])

{'list1': [10, 20, 30], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
10

In [109]:
random_data['list1'].append(40)
print(random_data)

{'list1': [10, 20, 30, 40, 40], 0: ['a', 'b', 'c']}

##### Dictionaries with Dictionaries

In [115]:
# to get values, must traverse through keys
my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream']), type(my_shoppe['ice_cream'])
print(my_shoppe['ice_cream']['chocolate'])
print(my_shoppe.get('milkshake').get('oreo'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}
2.99
4.49

In [116]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app

{'full_name': 'Jimmy Smith',
 'email': 'jsmith@email.com',
 'prog_languages': [{'name': 'Python', 'proficiency': 8},
  {'name': 'JavaScript', 'proficiency': 5}],
 'experience': [{'company': 'Omnicorp',
   'position': 'bossman',
   'years_at_company': [2010, 2011, 2012, 2013]},
  {'company': 'AlphaInc', 'position': 'QA', 'years_at_company': [2014, 2015]}],
 'us_citizen': True}

In [121]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

2

In [124]:
# List Comprehension
# [transform iterable filter]

my_new_list = [x**2 for x in range(10) if x % 2 == 0]
print(my_new_list)

[0, 4, 16, 36, 64]

In [125]:
# Dictionary Comprehension
# {transform key:vale iterable filter}

my_new_dict = {str(x): x**2 for x in range(10) if x % 2 == 0}
print(my_new_dict)

{'0': 0, '2': 4, '4': 16, '6': 36, '8': 64}

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [150]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [126]:
small_dict = {i: 'value' for i in range(10)}
small_list = [i for i in range(10)]
print(small_dict)
print(small_list)

{0: 'value', 1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value'}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
import time
time.time()

1683228567.1580648

In [157]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0002837181091308594
True
Elapsed time for list: 0.1269381046295166

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [158]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [159]:
second_set = {3, 5, 7, 9}
print(second_set)
print(type(second_set))

{9, 3, 5, 7}
<class 'set'>

In [ ]:
empty_set = {} # Will not create empty set, will create dictionary

In [160]:
for element in second_set:
    print(element)

9
3
5
7

##### .add()

In [161]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [162]:
second_set.add(10)
print(second_set)

{3, 5, 7, 9, 10}

In [163]:
second_set.add(10)
print(second_set)

{3, 5, 7, 9, 10}

In [164]:
third_set = {1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3}
print(third_set)

{1, 2, 3}

##### .remove()

In [165]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [166]:
second_set.remove(10)
print(second_set)

{3, 5, 7, 9}

In [167]:
second_set.remove('hello')

KeyError: 'hello'

##### .union()

In [168]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [171]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# Or

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [172]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [176]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

# Or

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [175]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [181]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

# What in s1 is not in s2
s7 = s1.difference(s2)
print(s7)

s8 = s1 - s2
print(s8)

# What in s2 is not in s1
s9 = s2.difference(s1)
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [182]:
# Lists can contain sets

list_of_sets = [{'a', 'b', 'c'}, {'d', 'e', 'f'}]
print(list_of_sets)

[{'b', 'c', 'a'}, {'d', 'f', 'e'}]

In [183]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

##### .clear()

In [184]:
# Empties the whole set
# set.clear()

help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [186]:
nums = {4356, 43532, 4325342, 3245}
print(nums)
nums.clear()
print(nums)

{4356, 43532, 4325342, 3245}
set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [187]:
s3

{1, 2, 3, 4, 5, 6}

In [189]:
# frozenset([])
my_frozenset = frozenset(s3)
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

In [ ]:
my_frozenset.add(7)

In [190]:
new_set = {1, 2, 3}

a_dict_with_set_keys = {
    new_set: "hello World"
}

print(a_dict_with_set_keys)

TypeError: unhashable type: 'set'

In [192]:
new_f_set = frozenset({1, 2, 3})

a_dict_with_set_keys = {
    new_f_set: "hello World"
}

print(a_dict_with_set_keys)

{frozenset({1, 2, 3}): 'hello World'}

In [193]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [ ]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the values into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [ ]:
from IPython.display import clear_output

In [11]:
# ask = input('Enter anything. Type quit to quit: ')
# while ask != 'quit':
#     print(f'You entered {ask}')
#     ask = input('Enter another thing. Type quit to quit ')

# Ask for name
# Ask for addy
# Store both in local var (to be returned later)

def new_person():
    person_info = {}
    name = input('Input your name: ')
    address = input('Input your address: ')
    person_info[name] = address
    while name != 'quit' or address != 'quit':
        name = input('Input your name: ')
        if name == 'quit':
            break
        address = input('Input your address: ')
        if address == 'quit':
            break
        person_info[name] = address
    print(person_info)

new_person()

Input your name: fdas
Input your address: fdas
Input your name: fea
Input your address: vdsa
Input your name: cxze
Input your address: fdsa
Input your name: quit
{'fdas': 'fdas', 'fea': 'vdsa', 'cxze': 'fdsa'}

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [20]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

def avail_time(p1, *pr):
    set1 = set(p1)
    for p in pr:
        set2 = set(p)
    avail = set1.intersection(set2)
    print(avail)
        
    
avail_time(person1, person2, person3, person4)

{'14:30', '12:00', '11:30'}